<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
</head>
<body>
<br>
<center>
    <table>
        <tbody>
        <form th:action="@{/admin/users/{id}/change_password(id=${user.getId()})}" th:method="PATCH"
              th:object="${user}">
            <tr>
                <td valign="top">
                    <label for="pass"><b>New password: </b></label>
                </td>
                <td>
                    <input id="pass" th:field="*{password}" type="password"/> <br/><br/>
                </td>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input height="200" type="submit" value="Update Password"/>
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</center>
</body>
</html>