<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<br>
<br>
<center><b><font color="red">
    <p th:if="${param.error}">
        Incorrect username or password
    </p>
</font></b></center>
<br>
<center>
    <table>
        <tbody>
        <form method="POST" th:action="@{/login}">
            <tr>
                <td valign="top">
                    <label for="name"><b>User Name: </b></label>
                </td>
                <td>
                    <input id="name" name="j_username" type="text"/> <br/><br/>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <label for="pass"><b>Password: </b></label>
                </td>
                <td>
                    <input id="pass" name="j_password" type="password"/> <br/><br/>
                </td>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input height="200" type="submit" value="Login"/>
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</center>
</body>
</html>