<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h1 th:text="|Greetings, ${user.getFirstName()} ${user.getLastName()}!|">Greetings</h1>
<br>
<h2>You successfully logged as: <span sec:authentication="name">Bob</span></h2>
<br>
<hr/>
<br>
<table>
    <tbody>
    <tr>
        <td><b>Username: </b></td>
        <td th:text="${user.getUsername()}">Username</td>
    </tr>
    <tr>
        <td><b>First Name: </b></td>
        <td th:text="${user.getFirstName}">First Name</td>
    </tr>
    <tr>
        <td><b>Last Name: </b></td>
        <td th:text="${user.getLastName()}">Last Name</td>
    </tr>
    <tr>
        <td><b>E-mail: </b></td>
        <td th:text="${user.getEmail()}">Email</td>
    </tr>
    <tr>
        <td><b>Age: </b></td>
        <td th:text="${user.getAge()}">Email</td>
    </tr>
    <tr>
        <td><b>Roles: </b></td>
        <td>
            <th:block th:each="role : ${user.getRoles()}">
                <p th:text="${role.getRoleName().substring(5)}">Role</p>
            </th:block>
    </tbody>
    </td>
    </tr>
    </tbody>
</table>
<br>
<br>
<hr>
<div sec:authorize="isAuthenticated()">
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>